<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="defaultPattern" value="%d{YYYY-MM-dd HH:mm:ss.SSS} %5p [%t] %c - %m%n" />
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="Console" />
        </root>
        <logger name="cn.lichenhui.dao" level="DEBUG" additivity="false" >
            <appender-ref ref="Console" />
        </logger>
    </springProfile>
    <springProfile name="test,prod">
        <root level="INFO">
            <appender-ref ref="Console" />
        </root>
    </springProfile>
</configuration>